<!doctype html>
<html lang="en" ng-app="index" ng-controller="main">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
        <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>

        <title>{{semesterName}} Course Timetable</title>

    </head>

    <body>
        <h2 >
            <ul style="text-align:center">
                <li class="sem-nav {{getSemStyle(semIdx)}}"  ng-init="semIdx=$index;" ng-repeat="sem in selected_courses" ng-click="onSemClicked(semIdx)">
                    {{sem.semester}}
                </li>
            </ul>
        </h2>
        <table>
            <caption style="color:black;">
                <h2 class="text-center"> 
                    {{semesterName}}
                </h2>
            </caption>
            <thead>
                <tr>
                    <th class="course" style="width:120px">
                        <div class="column-header">Time\Day</div>
                    </th>
                    <th class="course" ng-repeat="head in dayHeaders" colspan="{{head.span}}">
                        <div  class="column-header day-header">{{head.text}}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-init="rowIdx=$index" ng-repeat="timePoint in timePointList">
                    <td class="course">
                        <div class="row-header">{{timeObjToString(timePoint) + " ~ " + timeObjToString(tickToNextTime(timePoint))}}</div>
                    </td>
                    <td class="course-content {{column.border}} {{courses_data[column.courseId].bgColor}}" ng-init="colIdx=$index" ng-repeat="column in columnsOfTime[rowIdx]" colspan="{{column.colSpan}}" rowspan="{{column.rowSpan}}" >
                        <div ng-show="column.courseId != null">
                            <a href={{courses_data[column.courseId].homePage}} target="_blank"  style="margin-bottom:0px">
                                <img style="float:right" src="info2.gif">
                            </a>
                            <h4 class="text-center" style="max-width:200px;margin:auto">{{courses_data[column.courseId].courseName}}</h4>
                            <p class="course-detail">Type: {{courses_data[column.courseId].dates[column.dateIdx].type}}</p>
                            <p class="course-detail">Duration: {{getCourseDuration(column.courseId, column.dateIdx)}} min.</p>
                            <p class="course-detail">ECTS: {{courses_data[column.courseId].ects}}{{courses_data[column.courseId].ectsDesc}}</p>
                            <nobr><p class="course-detail"> Room: {{courses_data[column.courseId].dates[column.dateIdx].room}}</p></nobr>
                            <p class="course-detail" ng-show="courses_data[column.courseId].hints != null">Hints: {{courses_data[column.courseId].hints}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="float:left;margin-bottom:100px">
            <table>
                <caption><h3>Semester ECTS:</h3></caption>
                <thead>
                <tr>
                    <th class="ects text-center" style="border:1px solid black">Category</th>
                    <th class="ects text-center" style="border:1px solid black">This Semester ECTS</th>
                    <th class="ects text-center" style="border:1px solid black">Total Selected ECTS</th>
                    <th class="ects text-center" style="border:1px solid black">Total Required ECTS</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-init="catIdx=$index" ng-repeat="ectsInfo in total_required_ects">
                        <td class="ects text-right">
                            <button style="border:0px;background-color:transparent;" ng-click="showCourseListOfCat(catIdx)">
                                {{ectsInfo.name}}:
                            </button>
                        </td>
                        <td class="ects text-center">{{semesterECTS[ectsInfo.cat].value}}</td>
                        <td class="ects text-center">{{totalSelectedECTS[ectsInfo.cat].value}}</td>
                        <td class="ects text-center">{{ectsInfo.value}}</td>
                    </tr>
                    <tr>
                        <td class="ects text-right"> <strong>Total</strong>:</td>
                        <td class="ects text-center">{{sumTotalECTS(semesterECTS)}}</td>
                        <td class="ects text-center">{{sumTotalECTS(totalSelectedECTS)}}</td>
                        <td class="ects text-center">{{sumTotalECTS(total_required_ects)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="float:left;margin:40px 0px 0px 50px">
            <div class="alert alert-info" ng-show="showingCatIdx != null">
                <button type="button" class="close" aria-hidden="true" ng-click="showCourseListOfCat(null)">&times;</button>
                <h4><nobr>{{total_required_ects[showingCatIdx].name}}:</nobr></h4>
                <ul>
                        <li ng-repeat="courseData in courses_data | courseCat:total_required_ects[showingCatIdx].cat">
                            <a style="color:#31708f" href={{courseData.homePage}}>{{courseData.courseName}}, {{courseData.ects}} ECTS</a>
                        </li>
                    </ul>
            </div>
            <div class="alert alert-warning" ng-init="courseIds = getNeverSelectedCourseIds();" ng-show="courseIds.length > 0">
                    <h4>[WARNING] These courses are never selected:</h4>
                    <ul>
                        <li ng-repeat="courseId in courseIds">
                            {{courses_data[courseId].courseName}}
                        </li>
                    </ul>
            </div>
        </div>
        <script src="courses_data.json"></script>
        <script src="main.js"></script>
    </body>
</html>