<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
        <body>

        <title>Hello, world!</title>
    </head>
    <body>

        <table class="table table-bordered" ng-app="index" ng-controller="tableContent">
            <thead>
                <tr>
                    <th style="width:120px">
                        <p class="text-center">Time\Day</p>
                    </th>
                    <th ng-repeat="head in dayHeaders" colspan="{{head.span}}", border = 1>
                        <p class="text-center">{{head.text}}</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-init="rowIdx=$index" ng-repeat="timePoint in timePointList">
                    <td>
                        <p class="text-right">{{timeObjToString(timePoint) + " ~ " + timeObjToString(tickToNextTime(timePoint))}}</p>
                    </td>
                    <td ng-init="colIdx=$index" ng-repeat="column in columnsOfTime[rowIdx]" colspan="{{column.colSpan}}" rowspan="{{column.rowSpan}}" >
                        <h4><p class="text-center" ng-show="column.courseId != null">{{courses_data[column.courseId].courseName}}<br></p></h4>
                        <p class="text-center" ng-show="column.courseId != null">Type: {{courses_data[column.courseId].dates[column.dateIdx].type}}<br></p>
                        <p class="text-center" ng-show="column.courseId != null">Room: {{courses_data[column.courseId].dates[column.dateIdx].room}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src="courses_data.2.json"></script>
        <script src="main.js"></script>
    </body>
</html>