body {
    padding:20px;
}
table {
    border:2px solid black;
}
li.sem-nav {
    display:inline;
    margin:2px;
    color:white;
    background-color:rgb(146, 181, 216);
}
li.sem-nav:hover, li.sem-nav:active {
    background-color: #337ab7;
}
li.selected {
    background-color: #337ab7;
}
th.course {
    border:2px solid black;
    min-height:100px;
}
td.cell-leftmost {
    border-left:2px solid black;
}
td.cell-rightmost {
    border-right:2px solid black;
}
td.cell-not-empty {
    border-top:2px solid black;
    border-bottom:2px solid black;
}
td.cell-empty {
    border-left:2px solid black;
}
td.course {
    border-bottom:1px solid lightgray;
}
td.ects, th.ects {
    padding:5px;
    border-left:1px solid balck;
    border-right:1px solid black;
}
.course-content {
    vertical-align:text-top;
    border-bottom:1px solid lightgray;
    border-left:1px dashed  black;
    min-width:150px;
    padding:1px 10px 1px 10px;
}
.course-detail {
    margin-bottom: 0px;
}
.day-header {
    font-size:1.2em;
}
.column-header {
    text-align: center;
}
.row-header {
    text-align: center;
    padding-top:2px;
    padding-bottom:2px;
}
.aachen-blue-bg {
    background-color:#94B9DF
}
.bonn-yellow-bg {
    background-color:#F5B90F;
}
.bonn-light-yellow-bg {
    background-color:rgb(255, 233, 171);
}