body {
    padding:20px;
}
table {
    border:2px solid black;
}
th {
    border:2px solid black;
    min-height:100px;
}
td {
    border-bottom:1px solid lightgray;
    border-left:1px dashed  black;
}
td.cell-leftmost {
    border-left:2px solid black;
}
td.cell-rightmost {
    border-right:2px solid black;
}
td.cell-not-empty {
    border-top:2px solid black;
    border-bottom:2px solid black;
}
td.cell-empty {
    border-left:2px solid black;
    border-bottom:1px solid lightgray;
}
.course-content {
    min-width:160px;
    padding:1px 10px 1px 10px;
}
.day-header {
    font-size:1.2em;
}
.column-header {
    text-align: center;
}
.row-header {
    text-align: center;
    padding-top:4px;
    padding-bottom:4px;
}